.footer {
    background-color: black;
    color: #fff;
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
	bottom: 0;
    border-radius: 35px 35px 0 0;
}