.navbar {
    display: flex;
    background-color: black;
    box-shadow: 6px solid red;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  
  & li {
    list-style: none;
  }
  
  & a {
    text-decoration: none;
  }

  .link {
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    margin: auto 5px;
  }

  .link:hover {
    text-decoration: underline;
  }
}

  