.navbar {
    display: flex;
    background-color: black;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  
  & li {
    list-style: none;
  }
  
  & a {
    color: #fff;
    margin-right: 1em;
    text-decoration: none;
  }

  & a:hover {
    text-decoration: underline;
  }

  .link {
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }
}

  