.navbar {
    display: flex;
    background-color: #17428E;
    padding: 20px 10px;
    text-align: ;
  
  & li {
    list-style: none;
  }
  
  & a {
    color: #fff;
    margin-right: 1em;
    text-decoration: none;
    transition: 0.3s;
  }

  & a:hover {
    text-decoration: underline;
  }
  
}

  